:root{
    --red_nav_background: #F20400;
    --grey_footer_background: #15151E;
    --grey_footer_border: #38383F;
    --f1-regular: 'f1-regular';
    --f1-bold: 'f1-bold';
    --f1-wide: 'f1-wide';
    --TitilliumWeb_light: 'TitilliumWeb-Light';
    --TitilliumWeb_regular: 'TitilliumWeb-regular';
    --TitilliumWeb_bold: 'TitilliumWeb-bold';
}

@font-face {
    font-family: 'f1-regular';
    src: url(../assets/fonts/Formula1-Regular.otf);
}
.fuente_f1_reg{
    font-family: 'f1-regular';
}

@font-face {
    font-family: 'f1-bold';
    src: url(../assets/fonts/Formula1-Bold.otf);
}
.fuente_f1_bold{
    font-family: 'f1-bold';
}

@font-face {
    font-family: 'f1-wide';
    src: url(../assets/fonts/Formula1-Wide.otf);
}
.fuente_f1_wide{
    font-family: 'f1-wide';
}

@font-face {
    font-family: 'TitilliumWeb-Light';
    src: url(../assets/fonts/TitilliumWeb-Light.ttf);
}
.fuente_tw_Light{
    font-family: 'TitilliumWeb-Light';
}

@font-face {
    font-family: 'TitilliumWeb-Regular';
    src: url(../assets/fonts/TitilliumWeb-Regular.ttf);
}

.fuente_tw_regular{
    font-family: 'TitilliumWeb-Regular';
}

@font-face {
    font-family: 'TitilliumWeb-bold';
    src: url(../assets/fonts/TitilliumWeb-Bold.ttf);
}
.fuente_tw_bold{
    font-family: 'TitilliumWeb-Bold';
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    text-decoration: none;
}

/* ---- nav ----*/
header{
    background-color: #F20400;
    position: sticky;
    top: 0;
    z-index: 10000;
}

nav{
    height: 3.75em;

    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav .container_logo_f1{
    margin-left: 3.125em;
    margin-top: 5px;
    & img{
        width: 7.8em;
    }
}

ul{
    list-style: none;
    font-family: var(--f1-regular);
    font-size: 17px;
    color: #fff;
    width: 60%;

    display: flex;
    justify-content: space-evenly;
}

ul > li > a{
    color: #fff;
    padding-bottom: 4px;
    border-bottom: 3px solid #F20400;
    transition: all .3s;
}

ul > li > a:hover{
    border-bottom: #fff solid 3px;
}

.container_icon_perfil{
    background-color: #15151E;;
    min-width: 2.8em;
    min-height: 2.8em;
    border-radius: 9px;
    margin-right: 4.13em;

    display: flex;
    align-items: center;
    justify-content: center;

    transition: all .2s ease;
}

.container_icon_perfil:hover{
    background-color: #20202e;
    cursor: pointer;
    transform: scale(1.05);
}

.container_icon_perfil img{
    width: 1.8em;
}
/*--------------*/