
/*------ main ------- */
.main{
    padding: 3.1em;
    display: flex;
    gap: 1.8em;

    & .seccion1, .seccion2{
        width: 48%;
    }
}

/*----- seccion1 ----*/
.seccion1{
    
    border-top-right-radius: 50px;
    border-top: 10px solid #F20400;
    border-right: 10px solid #F20400;

    & h2{
        font-size: 2.2em;
        padding: 40px 0px;
    }
    a{
        color: #000;
    }
    a:hover{
        text-decoration: underline;
        text-underline-offset: 4px;
    }
    img{
        object-fit: cover;
        width: 40em;
    }
}
/*--------------------*/

/*----- seccion2 ----*/
.seccion2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1.8em;

    & .card{
        border-bottom: solid 1px #38383F;
        border-right: solid 1px #38383F;
        border-bottom-right-radius: 42px;
        overflow: hidden;

        & .container_h3{
            width: 100%;
            background-color: #fff;
            border-bottom-right-radius: 42px;
            transition: all .6s;
        }
        
        h3{
            transition: all .6s;
            
            width: 18em;
            font-size: 1em;
            padding: 1em 1.25em;
            
            color: #000;
            background-color: #fff;
        }
    }
    
    .card:hover{
        border-right: solid 1px #F20400;
        border-bottom: solid 1px #F20400;
        
        & .container_h3{
            transform: translateY(-1em);
        }
        h3{
            text-decoration: underline;
            text-underline-offset: 4px;
        }

        img{
            transform: scale(1.1);
        }
    }

    img{
        object-fit: cover;
        width: 20.6em;
        height: 10em;
        transition: all .6s;
    }
    button{
        width: 13.8em;
        height: 3.3em;

        background-color: #F20400;
        border: solid 3px #F20400;
        border-radius: 9px;

        transition: all .5s;
    }

    button:hover{
        background-color: #fff;
        cursor: pointer;

        & a{
            color: #000;
            text-underline-offset: 4px;
        }
        span{
            color: #F20400;
        }
    }

    button > a{
        font-size: 1.1em;
        color: #fff;
        padding: .7em 1.5em;
    }

}
/*--------------------*/

/*------ seccion 3----*/
.seccion3{
    border: 8px solid #F20400;
    border-left: none;
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
    position: relative;
    margin: 2em 3.6em 0 3.1em;

    & .contenedor_de_partes{
        display: flex;
        margin: 2em 0 0 0;
    
        & .part1, .part2{
            width: 50%;
        }
        .part1 h5{
            font-size: 1.2em;
            margin: 2em 0;
            cursor: default;
        }

        .part2{
            margin:  0 5em;
            & p{
                font-size: 1.48em;
            }
        }
    }

    .titulo_s3{
        font-size: 1.8em;
        
        position: absolute;
        z-index: 10;
        top: -.9em;

        background-color: #fff;
        width: 8em;
        cursor: default;
    }

}

/*--------------------*/

/*----- seccionn 4 -----*/
.seccion4{
    margin: 5em 3.6em 4em 3.1em;
    
    & .titulo_s4{
        font-size: 2em;
        padding: .5em 0;
        margin-bottom: 1em;
        border-bottom: 10px solid #15151E;
        cursor: default;
    }

    .contenedor_noticias_s4{
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        gap: 1em;
    }

    .noticias{
        display: flex;
        flex-direction: column;
        align-items: center;

        border: solid 2px #fff;
        border-top: none;
        border-bottom-left-radius: 1.5em;
        border-bottom-right-radius: 1.5em;

        overflow: hidden;
        transition: all .5s;
    }

    .noticias:hover{
        background-color: #15151E;
        border-color: #F20400;
        & h5{
            color: #fff;
        }
        .contenedor_titulo_noticia{
            transform: translateY(-1.5em);
            background-color: #15151E;
        }
        img{
            transform: scale(1.1);
        }
        h5{
            text-decoration: underline;
            text-underline-offset: 4px;
        }
    }
    
    
    .contenedor_titulo_noticia{
        width: 100%;
        height: 8em;
        display: flex;
        align-items: center;
        padding-left: 1.7em;
        background-color: #fff;
        transition: all .5s;
    }
    
    .noticias h5{
        font-size: 1em;
        color: #000;
    }


    img{
        object-fit: cover;
        width: 21.2em;
        height: 15em;
        transition: all .5s;
    }
}
/*--------------------*/