
/*------ main ------- */
.main{
    padding: 3.1em;
    border: solid 2px green;
    display: flex;
    gap: 1.8em;

    & .seccion1, .seccion2{
        width: 48%;
    }
}

/*----- seccion1 ----*/
.seccion1{
    
    border-top-right-radius: 50px;
    border-top: 10px solid #F20400;
    border-right: 10px solid #F20400;

    & h2{
        font-size: 2.3em;
        padding: 40px 0px;
    }
    a{
        color: #000;
    }
    a:hover{
        text-decoration: underline;
        text-underline-offset: 4px;
    }
    img{
        object-fit: cover;
        width: 40em;
    }
}
/*--------------------*/

/*----- seccion2 ----*/
.seccion2{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 2.1em;

    & .card{
        border-bottom: solid 1px #38383F;
        border-right: solid 1px #38383F;
        border-bottom-right-radius: 42px;
        transition: all .7s;

        & h3{
            font-size: 1.12em;
            padding: 1em 1.25em;
            color: #000;
        }
    }

    .card:hover{
        background-color: #38383F;
        border-right: solid 1px #F20400;
        border-bottom: solid 1px #F20400;
        transform: scale(1.03);

        & h3{
            color: #fff;
            text-decoration: underline;
            text-underline-offset: 4px;
        }
    }

    img{
        width: 20.6em;
        height: 9.1em;
    }
    button{
        width: 13.8em;
        height: 3.3em;
        background-color: #F20400;
        border: 0;
        border-radius: 9px;
        transition: all .5s;
    }

    button:hover{
        transform: translateX(10px);
        & a{
            text-decoration: underline;
            text-underline-offset: 4px;
        }
    }

    button > a{
        font-size: 1.25em;
        color: #fff;
    }

}
/*--------------------*/