.main{
    margin: 4em 4em 10em 3em;
}

.titulo_pilotos{
    font-size: 3.5em;
    padding: .2em .2em 0 0;
    border-top: solid 10px;
    border-right: solid 10px;
    border-top-right-radius: .8em;
    margin-bottom: 1em;
}

.container_salon_de_la_fama{
    margin: 5em 0;
    padding: .8em 0;
    color: #000;
    border-bottom: 2px solid #c9c9c9;
    border-right: 2px solid #c9c9c9;
    border-bottom-right-radius: 1em;

    font-size: 1.1em;
    min-height: 2.3em;

    display: flex;
    align-items: center;
    gap: 1em;

    transition: all .3s;
    
    & img{
        width: 24px;
    }
}

.container_salon_de_la_fama:hover{
    border-bottom-color: #F20400;
    border-right-color: #F20400;
    color: #F20400;
}














.contenedor-todos-los-pilotos-con-puntos{
    
    width: 100%;
    min-height: 450px;

    display: flex;
    justify-content: center;
    align-items: end;
    flex-wrap: wrap; /*esto para q si el elemento no encaja, lo baja a otra fila*/
    gap: 4em;
}



.piloto_por_separado{
    color: #000;
    min-width: 361px;
    max-width: 447px;

    display: flex;
    flex-direction: column;
    flex: 1 1 10%; /*este es el flex-grow (capacidad de agrandarse), flex-shrink (capacodad de achicarse) y el flex-basis (tamaño base, en base a ese, se achica/agranda)*/

    padding: 1em 1em 0 0;
    border-top: solid 2px;
    border-right: solid 2px;
    border-top-right-radius: 2em;

    transition: all .2s;

    & .piloto_part1{
        display: flex;
        justify-content: space-between;
        align-items: end;
        border-bottom: solid 1px #929292;
        padding-bottom: .7em;
        margin-bottom: .7em;

        & .posicion{
            font-size: 3em;
        }
        .cont_puntos{
            display: flex;
            flex-direction: column;
            align-items: center;
        }
        
        .num_pts{
            font-size: 1.3em;
        }
        .pts{
            padding: .3em .5em;
            color: #fff;
            background-color: #000;
            border-radius: 1em;
            font-size: .9em;
        }
    }

    .piloto_part2{
        display: flex;
        border-bottom: solid 1px #929292;
        padding-bottom: .7em;
        margin-bottom: .7em;

        & >div{
            width: 100%;
            margin-left: 1em;
            display: flex;
            justify-content: space-between; 
        }
        img{
            width: 50px;
            height: 35px;
            align-self: center;
            border-radius: .3em;
            border: solid 1px #929292;
        }
    }
    .piloto_part3{
        color: #929292;

        & >div{
            display: flex;
            justify-content: space-between;
            align-items: end;
        }
        .img_del_piloto{
            width: 15.625em;
        }

        .img_del_num_del_piloto{
            width: 6em;
            height: 6em;
        }
    }
}

.piloto_por_separado:hover{
    border-color: #F20400;
    transform: translateY(-1em);
}













/* ----------------------------- colores --------------------------------------*/
.redbull_piloto{
    color: #3671C6;
    background-color: #3671C6;
}
.borde_redbull_piloto:hover{
    border-top-color: #3671C6;
    border-right-color: #3671C6;
}

.rb_piloto{
    color: #6692FF;
    background-color: #6692FF;
}
.borde_rb_piloto:hover{
    border-top-color: #6692FF;
    border-right-color: #6692FF;
}

.ferrari_piloto{
    color: #E80020;
    background-color: #E80020;
}
.borde_ferrari_piloto:hover{
    border-top-color: #E80020;
    border-right-color: #E80020;
}

.williams_piloto{
    color: #64C4FF;
    background-color: #64C4FF;
}
.borde_williams_piloto:hover{
    border-top-color: #64C4FF;
    border-right-color: #64C4FF;
}

.haas_piloto{
    color: #B6BABD;
    background-color: #B6BABD;
}
.borde_haas_piloto:hover{
    border-top-color: #B6BABD;
    border-right-color: #B6BABD;
}

.alpine_piloto{
    color: #0093CC;
    background-color: #0093CC;
}
.borde_alpine_piloto:hover{
    border-top-color: #0093CC;
    border-right-color: #0093CC;
}

.aston_martin_piloto{
    color: #229971;
    background-color: #229971;
}
.borde_aston_martin_piloto:hover{
    border-top-color: #229971;
    border-right-color: #229971;
}

.kick_sauber_piloto{
    color: #52E252;
    background-color: #52E252;
}
.borde_kick_sauber_piloto:hover{
    border-top-color: #52E252;
    border-right-color: #52E252;
}


.mercedes_piloto{
    color: #27F4D2;
    background-color: #27F4D2;
}
.borde_mercedes_piloto:hover{
    border-top-color: #27F4D2;
    border-right-color: #27F4D2;
}


.mclaren_piloto{
    color: #FF8000;
    background-color: #FF8000;
}
.borde_mclaren_piloto:hover{
    border-top-color: #FF8000;
    border-right-color: #FF8000;
}

/*----------------------------------------------------------------*/















@media screen and (max-width: 750px) {

    .main{
        margin: 1.5em 1.5em 7em;
    }

    .titulo_pilotos{
        font-size: 2.2em;
    }
}